Abhhishek r   
batch number : DS2310   
ashek6578@gmail.com

In [2]:
import numpy as np
import pandas as pd
from selenium import  webdriver
import selenium.webdriver.common.by as by
import warnings
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as ec
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

In [3]:
'''1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank 
B) Name 
C) Artist 
D) Upload date 
E) Views'''

# Create a new instance of the Chrome driver
driver = webdriver.Chrome()

# Open the Wikipedia page with the list of most-viewed YouTube videos
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

# Maximize the window for better visibility of elements
driver.maximize_window()

# Pause for 5 seconds to allow the page to load
time.sleep(5)

# Extract details using Xpath selectors
#name
content = driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
name = [i.text for i in content]

#Artist
content1 = driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
artist = [i.text for i in content1]

#views
content2 = driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
views = [i.text for i in content2]

#upload date
content3 = driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
date = [i.text for i in content3]

# Generating rank numbers from 1 to the length of the 'name' list
rank = [i for i in range(1, len(name) + 1)]

# Create a DataFrame to store the scraped data
data = pd.DataFrame({
    'Rank': rank,
    'Name': name,
    'Artist': artist,
    'Upload Date': date,
    'Views (Billions)': views
})

data

,Rank,Name,Artist,Upload Date,Views (Billions)
0,1,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.84
1,2,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.34
2,3,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.86
3,4,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.55
4,5,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.17
5,6,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.13
6,7,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.79
7,8,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.63
8,9,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.12
9,10,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",5.04
10,11,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.00
11,12,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.57
12,13,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.51
13,14,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.24
14,15,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.98
15,16,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.94
16,17,"""Roar""[41]",Katy Perry,"September 5, 2013",3.93
17,18,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.90
18,19,"""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.82
19,20,"""Waka Waka (This Time for Africa)""[44]",Shakira,"June 4, 2010",3.81
20,21,"""Sorry""[45]",Justin Bieber,"October 22, 2015",3.75
21,22,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.71
22,23,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.68
23,24,"""Dark Horse""[48]",Katy Perry,"February 20, 2014",3.65
24,25,"""Perfect""[49]",Ed Sheeran,"November 9, 2017",3.63
25,26,"""Shree Hanuman Chalisa""[50]",T-Series Bhakti Sagar,"May 10, 2011",3.61
26,27,"""Let Her Go""[51]",Passenger,"July 25, 2012",3.58
27,28,"""Faded""[52]",Alan Walker,"December 3, 2015",3.57
28,29,"""Girls Like You""[53]",Maroon 5,"May 31, 2018",3.54
29,30,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.52

In [4]:
''' 2 )Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/. 
You need to find following details: 
A) Series 
B) Place 
C) Date 
D) Time'''

driver2 = webdriver.Chrome()
# Open the BCCI website
driver2.get('https://www.bcci.tv/')

# Maximize the window for better visibility of elements
driver2.maximize_window()
time.sleep(5)

#click on FIXTURE option
click1 =  driver2.find_element(By.XPATH, '//div[@class="imw-tabs international-tabs"]/a[2]')
click1.click()
time.sleep(8)

# Scroll to the element with the upcoming matches
click = driver2.find_element(By.XPATH, '//div[@class="col-lg-12 col-md-12 col-sm-12 ng-scope"][9]')
driver2.execute_script("arguments[0].scrollIntoView();", click)
time.sleep(10)

# Click on the "More Matches" button
click2 = driver2.find_element(By.XPATH, '//button[@class="match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3 morematches"]')
click2.click()
time.sleep(5) 

# Extract details using Xpath selectors
#series
series = driver2.find_elements(By.XPATH,'//div[@class="match-card-top"]/div/h5 |//div[@class="match-card-middle d-flex"]/h5')
ser = [i.text for i in series]

#place
pla = driver2.find_elements(By.XPATH,'//div[@class="match-place ng-scope"] | //div[@class="match-venue ng-scope"]')
place = [i.text for i in pla]

#date
da = driver2.find_elements(By.XPATH, '//div[@class="match-date-info"]/div[1]')
date = [i.text for i in da]

#time
ti = driver2.find_elements(By.XPATH, '//div[@class="match-date-info"]/div[2]')
times = [i.text for i in ti]

# Create a Pandas DataFrame
data2 = pd.DataFrame({'series' : ser, 'place': place, 'date': date, 'time' : times })
data2

,series,place,date,time
0,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","2 JANUARY, 2024",1:30 PM IST
1,INDIA TOUR OF SOUTH AFRICA 2023-24,"Newlands, Cape Town","3 JANUARY, 2024",1:30 PM IST
2,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","5 JANUARY, 2024",7:00 PM IST
3,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","7 JANUARY, 2024",7:00 PM IST
4,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","9 JANUARY, 2024",7:00 PM IST
5,AFGHANISTAN TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium, ...","11 JANUARY, 2024",7:00 PM IST
6,AFGHANISTAN TOUR OF INDIA 2023-24,"Holkar Cricket Stadium, Indore","14 JANUARY, 2024",7:00 PM IST
7,AFGHANISTAN TOUR OF INDIA 2023-24,"M Chinnaswamy Stadium, Bengaluru","17 JANUARY, 2024",7:00 PM IST
8,ENGLAND TOUR OF INDIA 2023-24,"Rajiv Gandhi International Stadium, Hyderabad","25 JANUARY, 2024",9:30 AM IST
9,ENGLAND TOUR OF INDIA 2023-24,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...,"2 FEBRUARY, 2024",9:30 AM IST
10,ENGLAND TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium, Rajkot","15 FEBRUARY, 2024",9:30 AM IST
11,ENGLAND TOUR OF INDIA 2023-24,"JSCA International Stadium Complex, Ranchi","23 FEBRUARY, 2024",9:30 AM IST
12,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024",9:30 AM IST

In [11]:
''' 3) Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/ 
You have to find following details: A) Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion)'''

'''NOTE : in the given website 'GSDP(18-19)- at current prices' , 'GSDP(19-20)- at current prices' and 'Share(18-19)' 
are not available  and they are updated to 'GSDP(21-22)- at current prices' , 'GSDP(22-23)- at current prices' and 'Share(21-22)' '''

driver3 = webdriver.Chrome()
#opening twice to avoid the google ads
for a in range(2):
    driver3.get('http://statisticstimes.com/')
    time.sleep(5)
#click on economy button
    click3 = driver3.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/button')
    click3.click()
#click on INDIA button
    click2 = driver3.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/div/a[3]')
    click2.click()
#click on GDP ON INDIAN STATES option
click4 = driver3.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
click4.click()

# Finding elements using Xpath for different columns in the table\
#rank
rank = driver3.find_elements(By.XPATH, '//div[@class="fwidth"][3]/div/div/table/tbody/tr/td[1]')
ranks = [i.text for i in rank]

#state
state = driver3.find_elements(By.XPATH, '//div[@class="fwidth"][3]/div/div/table/tbody/tr/td[2]')
states = [i.text for i in state]

#  GSDP(18-19)- at current prices
gsdp19 = driver3.find_elements(By.XPATH, '//div[@class="fwidth"][3]/div/div/table/tbody/tr/td[3]')
gsdps19 = [i.text for i in gsdp19]

# GSDP(19-20)- at current prices 
gsdp20 = driver3.find_elements(By.XPATH, '//div[@class="fwidth"][3]/div/div/table/tbody/tr/td[4]')
gsdps20 = [i.text for i in gsdp20]

#Share(18-19) 
share = driver3.find_elements(By.XPATH, '//div[@class="fwidth"][3]/div/div/table/tbody/tr/td[5]')
shares = [i.text for i in share]

#GDP($ billion)
gdp = driver3.find_elements(By.XPATH, '//div[@class="fwidth"][3]/div/div/table/tbody/tr/td[6]')
gdps = [i.text for i in gdp]

# Create a Pandas DataFrame
data3 = pd.DataFrame({'Rank' : ranks, 'State': states, ' GSDP(21-22)- at current prices ' : gsdps19, 'GSDP(22-23)- at current prices'
                      : gsdps20, 'share (21-22)' : shares, 'GDP($ billion)': gdps  })
data3

,Rank,State,GSDP(21-22)- at current prices,GSDP(22-23)- at current prices,share (21-22),GDP($ billion)
0,1,Maharashtra,-,"3,108,022",13.24%,417.163
1,2,Tamil Nadu,"2,364,514","2,071,286",8.82%,278.011
2,3,Uttar Pradesh,"2,257,575","1,974,532",8.41%,265.024
3,4,Karnataka,"2,241,368","1,962,725",8.36%,263.440
4,5,Gujarat,-,"1,937,066",8.25%,259.996
5,6,West Bengal,"1,554,992","1,363,926",5.81%,183.068
6,7,Rajasthan,"1,413,620","1,218,193",5.19%,163.507
7,8,Madhya Pradesh,"1,322,821","1,136,137",4.84%,152.494
8,9,Andhra Pradesh,"1,317,728","1,133,837",4.83%,152.185
9,10,Telangana,"1,313,391","1,128,907",4.81%,151.523
10,11,Kerala,-,"932,470",3.97%,125.157
11,12,Delhi,"1,043,759","904,642",3.85%,121.422
12,13,Haryana,"994,154","870,665",3.71%,116.862
13,14,Odisha,"774,869","670,881",2.86%,90.047
14,15,Bihar,"751,396","650,302",2.77%,87.284
15,16,Punjab,"673,107","614,227",2.62%,82.442
16,17,Assam,"493,167","412,612",1.76%,55.381
17,18,Chhattisgarh,"457,608","406,416",1.73%,54.550
18,19,Jharkhand,"393,722","358,863",1.53%,48.167
19,20,Uttarakhand,"302,621","272,159",1.16%,36.530
20,21,Jammu & Kashmir-UT,"227,927","199,917",0.85%,26.833
21,22,Himachal Pradesh,"195,405","176,269",0.75%,23.659
22,23,Goa,-,"82,604",0.35%,11.087
23,24,Tripura,"72,636","62,550",0.27%,8.396
24,25,Chandigarh,-,"45,635",0.19%,6.125
25,26,Puducherry,-,"44,238",0.19%,5.938
26,27,Meghalaya,"42,697","38,785",0.17%,5.206
27,28,Sikkim,"42,756","37,557",0.16%,5.041
28,29,Manipur,-,"36,594",0.16%,4.912
29,30,Arunachal Pradesh,-,"35,124",0.15%,4.714
30,31,Nagaland,-,"31,913",0.14%,4.283
31,32,Mizoram,-,"27,824",0.12%,3.735
32,33,Andaman & Nicobar Islands,-,"10,371",0.04%,1.392

In [6]:
'''4) Scrape the details of trending repositories on Github.com. 
Url = https://github.com/ 
You have to find the following details: 
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used'''

driver4 = webdriver.Chrome()
driver4.get('https://github.com/')
time.sleep(5)
#click on OPEN SOURCE option
click = driver4.find_element(By.XPATH, '//ul[@class="d-lg-flex list-style-none"]/li[3]')
click.click()

#click on TRENDING option
click1 = driver4.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
click1.click()
time.sleep(5)


# Lists to store extracted information
r_titles = []
r_dis = []
r_lan = []

# Find all <article> elements on the page
articles = driver4.find_elements(By.XPATH, '//article[@class="Box-row"]')

# Loop through each article
for i in range(1, len(articles)+1):  
    # Get the current article based on index i
    article = driver4.find_element(By.XPATH, f'(//article[@class="Box-row"])[{i}]')
    
    # Find the element for <h2> (title) within the current article
    title_ = article.find_element(By.XPATH, './/h2')
    r_titles.append(title_.text)
    
    try:
        # Find the element for <p> (description) within the current article
        description = article.find_element(By.XPATH, './/p')
        description_text = description.text if description else '---'
    except NoSuchElementException:
        description_text = '---'
    r_dis.append(description_text)

    try:
        # Find the element for programming language <span>
        language = article.find_element(By.XPATH, './/span[@itemprop="programmingLanguage"]')
        language_text = language.text.strip() if language else '---'
    except NoSuchElementException:
        language_text = '---'
    r_lan.append(language_text)

# Find contributors count using XPATH
cc = driver4.find_elements(By.XPATH, '//div[@class="f6 color-fg-muted mt-2"]/a[2]')
contributors = [i.text for i in cc]

# Create a Pandas DataFrame
data4 = pd.DataFrame({
    'Repository title': r_titles,
    'Repository description': r_dis,
    'Contributors count': contributors,
    'Language used': r_lan})

data4

,Repository title,Repository description,Contributors count,Language used
0,movie-web / movie-web,A small web app for watching movies and shows ...,808,TypeScript
1,BartoszJarocki / cv,"Print-friendly, minimalist CV page",373,TypeScript
2,jasonjmcghee / rem,An open source approach to locally record and ...,28,Swift
3,Stirling-Tools / Stirling-PDF,locally hosted web application that allows you...,886,Java
4,midudev / porfolio.dev,Ejemplo de porfolio para programadores y desar...,49,Astro
5,commaai / openpilot,openpilot is an open source driver assistance ...,"8,131",Python
6,KRTirtho / spotube,🎧 Open source Spotify client that doesn't requ...,353,Dart
7,mlabonne / llm-course,Course to get into Large Language Models (LLMs...,486,Jupyter Notebook
8,radishes-music / radishes,Cross-platform copyright-free music platform（跨...,54,TypeScript
9,stacksmashing / tamarin-c,A tool to explore USB-C on Apple devices using...,8,C
10,ashishps1 / awesome-system-design-resources,This repository contains System Design resourc...,"1,154",---
11,midudev / esland-web,Web de los premios Esland para fines didácticos,39,Astro
12,hrvach / deskhop,Fast Desktop Switching Device,73,C
13,xuchengsheng / spring-reading,涵盖了 Spring 框架的核心概念和关键功能，包括控制反转（IOC）容器的使用，面向切面编...,604,Java
14,KwaiKEG / KwaiAgents,A generalized information-seeking agent system...,30,Python
15,alibaba-damo-academy / FunASR,A Fundamental End-to-End Speech Recognition To...,247,Python
16,joaomdmoura / crewAI,---,92,Python
17,twentyhq / twenty,"Building a modern alternative to Salesforce, p...",534,TypeScript
18,ByteByteGoHq / system-design-101,Explain complex systems using visuals and simp...,"5,064",---
19,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,"22,517",---
20,iusztinpaul / hands-on-llms,"🦖 𝗟𝗲𝗮𝗿𝗻 about 𝗟𝗟𝗠𝘀, 𝗟𝗟𝗠𝗢𝗽𝘀, and 𝘃𝗲𝗰𝘁𝗼𝗿 𝗗𝗕𝘀 for...",186,Jupyter Notebook
21,build-trust / ockam,"Orchestrate end-to-end encryption, cryptograph...",547,Rust
22,Flipper-XFW / Xtreme-Firmware,The Dom amongst the Flipper Zero Firmware. Giv...,507,C
23,roboflow / supervision,We write your reusable computer vision tools. 💜,603,Python
24,cypress-io / cypress,"Fast, easy and reliable testing for anything t...","3,100",JavaScript

In [7]:
'''5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board'''

# Create a new instance of the Chrome driver
driver5 = webdriver.Chrome()

# Open the Billboard website
driver5.get('http://www.billboard.com/')

# Click on the "Charts" option in the navigation menu
click =  driver5.find_element(By.XPATH,'//div[@class="lrv-u-flex lrv-u-flex-grow-1 lrv-u-flex-basis-60p"]/div/div/nav/ul/li[1]')
click.click()

# Click on the "Hot 100" option in the submenu
click1 = driver5.find_element(By.XPATH, '//div[@class="u-flex-grow-0 lrv-u-text-align-center"]/span/a')
click1.click()

# Extract details using Xpath selectors
#song name
name =  driver5.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]/ul/li[1]/h3')
names = [i.text for i in name]

#Artist name
sing =  driver5.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]/ul/li[1]/h3')
singer = [i.text for i in sing]

#last week rank
lw =  driver5.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]/span')
lwr = [i.text for i in lw]

#peak rank
pr = driver5.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]/ul/li[5]/span')
pwr = [i.text for i in pr]

#weeks on board
wb = driver5.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]/ul/li[6]/span')
wbr =  [i.text for i in wb]

# Create a DataFrame to store the scraped data
data5 = pd.DataFrame({
    'Song name' : names,
    'Artist name' : singer,
    'Last week rank' : lwr,
    'Peak rank' : pwr,
    'Weeks on board': wbr
})

data5

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,All I Want For Christmas Is You,All I Want For Christmas Is You,1,1,64
1,Rockin' Around The Christmas Tree,Rockin' Around The Christmas Tree,2,1,57
2,Jingle Bell Rock,Jingle Bell Rock,3,3,55
3,Last Christmas,Last Christmas,4,4,37
4,A Holly Jolly Christmas,A Holly Jolly Christmas,5,4,38
...,...,...,...,...,...
95,Winter Wonderland,Winter Wonderland,-,96,1
96,Run For The Hills,Run For The Hills,69,69,2
97,Que Onda,Que Onda,92,61,12
98,Great Gatsby,Great Gatsby,-,30,13
99,One Of The Girls,One Of The Girls,-,100,1

In [8]:
''' 6) Scrape the details of Highest selling novels. 
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre 
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'''
# Create a new instance of the Chrome driver
driver6 = webdriver.Chrome()

# Open The Guardian website to scrape information about best-selling books
driver6.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

# Pause for 5 seconds to allow the page to load
time.sleep(5)

# Extract details using Xpath selectors

#book name
elem = driver6.find_elements(By.XPATH, '//div[@class="embed block"]/table/tbody/tr/td[1]')
book = [i.text for i in elem]

#author_name
author = driver6.find_elements(By.XPATH, '//div[@class="embed block"]/table/tbody/tr/td[2]')
author_name = [i.text for i in author]

#volumes sold
vol = driver6.find_elements(By.XPATH, '//div[@class="embed block"]/table/tbody/tr/td[3]')
volume_sold = [i.text for i in vol]

#publisher
publi = driver6.find_elements(By.XPATH, '//div[@class="embed block"]/table/tbody/tr/td[4]')
publisher = [i.text for i in publi]

#genre
geners = driver6.find_elements(By.XPATH, '//div[@class="embed block"]/table/tbody/tr/td[5]')
genre = [i.text for i in geners]

# Create a DataFrame to store the scraped data
data6 = pd.DataFrame({
    'Book name': book,
    'Author name': author_name,
    'Volume sold': volume_sold,
    'Publisher': publisher,
    'Genre': genre
})

data6

,Book name,Author name,Volume sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House
...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin

In [9]:
''' 7) Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/ You have 
to find the following details: 
A) Name 
B) Year span 
C) Genre 
D) Run time 
E) Ratings 
F) Votes'''


'''note : the given url //www.imdb.com/list/ls095964455/ is outdated.
so i scrapped the same details from updated https://www.imdb.com/list/ls512407256/'''

driver7 = webdriver.Chrome()

# Open the IMDb website to scrape information about a movie list
driver7.get('https://www.imdb.com/list/ls512407256/')

# Pause for 5 seconds to allow the page to load
time.sleep(5)

# Extract details using Xpath selectors
#year span
year = driver7.find_elements(By.XPATH, '//h3[@class="lister-item-header"]/span[2]')
span = [i.text for i in year]

#name
name = driver7.find_elements(By.XPATH, '//h3[@class="lister-item-header"]/a')
names = [i.text for i in name]

#run time
run = driver7.find_elements(By.XPATH, '//p[@class="text-muted text-small"]/span[3]')
r_time = [i.text for i in run]

#gener
gener = driver7.find_elements(By.XPATH, '//p[@class="text-muted text-small"]/span[5]')
geners = [i.text for i in gener]

#ratings
rate = driver7.find_elements(By.XPATH, '//div[@class="ipl-rating-star small"]/span[2]')
rates = [i.text for i in rate]

#votes
vote = driver7.find_elements(By.XPATH, '//p[@class="text-muted text-small"][3]/span[2]')
votes = [i.text for i in vote]

# Create a DataFrame to store the scraped data
data7 = pd.DataFrame({
    'Name': names,
    'Year span': span,
    
    'Genre': geners,
    'Run time': r_time,
    'Ratings': rates,
    'Votes': votes
})

data7

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama","4,189 min",9.2,"2,237,167"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,301,420"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,060,790"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"311,050"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"270,433"
...,...,...,...,...,...,...
95,True Detective,(2014– ),"Crime, Drama, Mystery",55 min,8.9,"619,218"
96,Teen Wolf,(2011–2017),"Action, Drama, Fantasy",41 min,7.7,"160,763"
97,The OA,(2016–2019),"Drama, Fantasy, Mystery",60 min,7.8,"113,193"
98,The Simpsons,(1989– ),"Animation, Comedy",22 min,8.7,"429,960"
99,Desperate Housewives,(2004–2012),"Comedy, Drama, Mystery",45 min,7.6,"137,367"

In [10]:
'''8)Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/ You 
have to find the following details: 
A) Dataset name 
B) Data type 
C) Task 
D) Attribute type 
E) No of instances 
F) No of attribute 
G) Year'''

#Create a new instance of the Chrome driver
driver8 = webdriver.Chrome()

# Open the UCI Machine Learning Repository website
driver8.get('https://archive.ics.uci.edu/')

# Pause for 5 seconds to allow the page to load
time.sleep(5)

# Click on the first dataset link
click = driver8.find_element(By.XPATH, '//div[@class="flex flex-wrap justify-center gap-5"]/a[1]')
click.click()

# Pause for 5 seconds to allow the page to load
time.sleep(5)

# Click on the "Data Folder" label to view the data files
click1 = driver8.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]')
click1.click()

# Extract details using Xpath selectors
#dataset names
name = driver8.find_elements(By.XPATH, '//div[@class="rounded-box bg-base-100"]/div/div[2]/h2/a')
names = [i.text for i in name]

#data type
data_t = driver8.find_elements(By.XPATH, '//div[@class="rounded-box bg-base-100"]/div/div[2]/p')
type = [i.text for i in data_t]


#task, attribute type, number of instance, number of attribute
eleme = driver8.find_elements(By.XPATH, '//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div/span')
task = [i.text for i in eleme[0::4]]
attribute_type = [i.text for i  in eleme[1::4]]
no_instance = [i.text for i in eleme[2::4]]
no_attribute = [i.text for i in eleme[3::4]]

#year
ye = driver8.find_elements(By.XPATH, '//tbody[@class="border"]/tr/td[3]')
year =  [i.text for i in ye]

# Create a DataFrame to store the scraped data
data8 = pd.DataFrame({
    'Dataset_names': names,
    'Data type': type,
    'Task': task,
    'Attribute type': attribute_type,
    'No. of Instances': no_instance,
    'No. of Attributes': no_attribute,
    'Year': year
})
data8

,Dataset_names,Data type,Task,Attribute type,No. of Instances,No. of Attributes,Year
0,Iris,"A small classic dataset from Fisher, 1936. One...",Classification,Tabular,150 Instances,4 Features,7/1/1988
1,Dry Bean Dataset,"Images of 13,611 grains of 7 different registe...",Classification,Multivariate,13.61K Instances,16 Features,9/14/2020
2,Rice (Cammeo and Osmancik),A total of 3810 rice grain's images were taken...,Classification,Multivariate,3.81K Instances,7 Features,10/6/2019
3,Heart Disease,"4 databases: Cleveland, Hungary, Switzerland, ...",Classification,Multivariate,303 Instances,13 Features,7/1/1988
4,Adult,Predict whether income exceeds $50K/yr based o...,Classification,Multivariate,48.84K Instances,14 Features,5/1/1996
5,Wine,Using chemical analysis to determine the origi...,Classification,Tabular,178 Instances,13 Features,7/1/1991
6,Breast Cancer Wisconsin (Diagnostic),Diagnostic Wisconsin Breast Cancer Database.,Classification,Multivariate,569 Instances,30 Features,11/1/1995
7,Diabetes,This diabetes dataset is from AIM '94,Classification,"Multivariate, Time-Series",1 Instances,20 Features,N/A
8,Wine Quality,"Two datasets are included, related to red and ...","Classification, Regression",Multivariate,4.9K Instances,12 Features,10/7/2009
9,Car Evaluation,Derived from simple hierarchical decision mode...,Classification,Multivariate,1.73K Instances,6 Features,6/1/1997